fastapi
uvicorn
httpx
python-dotenv
pyjwt
pydantic-settings
chardet
slowapi
beautifulsoup4
cryptography
google-auth
google-auth-oauthlib
google-api-python-client
python-jose[cryptography]
databases
sqlalchemy
asyncpg
aiosqlite
psycopg2-binary
python-multipart


